
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

html{
    scroll-behavior: smooth;
}

.main-page{
    height: 100vh;
    /* width: 100vw; */
    background-color: black;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* position: sticky; */
    z-index: 10;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.hr1{
    width: 25%;
    border: 2px solid whitesmoke;
}


.tabs{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.quote{
    color: whitesmoke;
    position: relative;
    font-size: 20px;
    /* text-transform: uppercase; */
    top: 70px;
}

.title{
    text-transform: uppercase;
}

.tab-content{
    color: whitesmoke;
    margin: 0 30px;
    text-decoration: none;
}

.tab-content:hover{
    color: goldenrod;
    text-decoration: none;

}

/* /////////////////////////// */
/* Project Page */

.project-page{
    height: 100vh;
    background-color: black;
    z-index: 100;
}
